<nav class="navbar navnew ">
  <div class="container  ">
    <a class="navbar-brand" href="/"> 
    <H3 class="titulo">Troiatec</H3>
      <H1 class="titulo"> Api service</H1>
    
    </a>
  </div>
</nav>